#box-small{
    position:relative;
    top:0;
    left:0;
    width:513px;
    height:623px;
}
#box-big{
    overflow: hidden;
    position: relative;
    display: none;
    width: 600px;
    height: 600px;
    top: 0;
    left: 0;
}
#img-small{
    width:513px;
    height:623px;
    top: 0;
    left: 0;
}
#img-big{
    position: absolute;
    width: 1026px;
    height: 1246px;
    top: 0;
    left: 0;
    object-fit: cover;
}
#mouse{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:80px;
    height:80px;
    background: #3e3e3e;
    opacity: 0.3;
    cursor:move;
    z-index: 999;
}
.box{
    display: flex;
}
.thumbnail{
    margin-left: 150px;
    margin-top: 50px;
}
#img-small1-th{
    width: 100px;
    height: 100px;
}
#img-small2-th{
    width: 100px;
    height: 100px;
}